*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(255, 252, 252);
    text-align: center;
    padding: 0;
    margin-top: auto; 
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #000000;
    color: #e6006e;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 0px 20px black;
}
.encabezado {
    background-color: rgb(0, 0, 0);
    color: pink;
    padding: 20px 0;
}

.iconsRedes {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.navIconsRedes a {
    color:#e6006e;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s;
    text-decoration: none;
}

.navIconsRedes a:hover {
    color: #ffffff;
    
}

.tituloSakura {
    text-align: center;
    margin-top: 0px;
}

.sakura {
    font-size: 50px;
    font-weight: bold;
    color: #e6006e;
    letter-spacing: 5px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.Nav_Sakura a{
    text-decoration: none;
}
.superiorPrincipal {
    background-color:rgb(44, 44, 44);
    padding: 10px 0;
}

.enlacesSuperior {
    display: flex;
    justify-content: center;
}

.navSuperior {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
    transition: color 0.3s;
}

.navSuperior:hover {
    color: #e6006e;

}

.iconsEnlaces {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.navIconsEnlaces a {
    color: #ffffff;
    margin-left: 15px;
    font-size: 24px;
    transition: color 0.3s;
    text-decoration: none;
}

.navIconsEnlaces a:hover {
    color: #e6006e;

}
.Desplegable_Horizontal{
    list-style: none;
    display: flex;
    justify-content:center;
    padding: 2px 40px;
}
.Desplegable_Horizontal > li > a{
    display: block;
    color: white;
    text-decoration: none;
}
.Desplegable_Horizontal > li >a:hover{
    color: #e6006e;
}
.Desplegable_Vertical{
    position:absolute;
    display: none;
    list-style: none;
    background-color: #333;
    width: 150px;
}
.Desplegable_Horizontal > li:hover .Desplegable_Vertical{
    display: block;
}
.Desplegable_Vertical li:hover{
    background-color: #000000;
}
.Desplegable_Vertical li a:hover{
   color: #e6006e;
}
.Desplegable_Vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}
.Barra_Busqueda{
    position: absolute;
    transform: translate(-100%);
}
.Busqueda_Barra{
    outline: none;
    box-sizing: border-box;
    height: 20px;
    width: 0px;
    padding: 12px;
    color: #000000;
    border-radius: 50%;
    font-size: 15px;
    border: 1px solid #000000;
    transition: all .5s ease;
}
::placeholder{
    color: gray;
}
.Boton_Busqueda{
    position:absolute;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}
.Boton_Busqueda i{
    font-size: 22px;
    color: rgb(0, 0, 0);
    transition: all .5s ease;
}
.Barra_Busqueda:hover input{
    width: 200px;
    border-radius: 5%;
}
.Boton_Busqueda:hover{
    background-color: #e6006e;
}
button{
    background-color: #e6006e;
    border-radius: 20%;
    padding: 20px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 2.0vh;
    cursor: pointer;
    font-weight: bold;
}

.login-container {
    background: white;
    padding: 10px 20px;
    border-radius: 10px;  
    border: 2px solid black;  
    box-shadow: 0px 4px 20px black;
    width: 400px;
    text-align: center;
    margin-top: 15% ;
}
.input_barras {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 20px;
    outline: none;  
    font-size: 16px;
    box-shadow: 0px 4px 0px 4px #e6006e;
    font-family: 'Arial', sans-serif;
}
button:hover{
    background-color: rgb(55, 55, 228);
    color: white;
}